<h1><%= @shelter_info[0].name %></h1>
<h4><%= @shelter_info[0].city %></h4>

<hr>

<div id='action-required'>
  <h2>ACTION REQUIRED</h2>
</div>

<hr>

<div id='statistics'>
  <h2>Statistics</h2>
    <p>Number of adoptable pets at this shelter: <%= @shelter.adoptable_pets_count %></p>
    <p>Average age of adoptable pets at this shelter: <%= @shelter.average_age_of_adoptable_pets %> years</p>
    <p>Number of pets that have been adopted from this shelter: <%= @shelter.adopted_pets_count %></p>
</div>
